* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: monospace;
}
.container,h1,h3{
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
	vertical-align: middle;
	position:static;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

input[type="button"]:hover {
	font-weight:bold;
}
.loginHeader{
	flex-direction: row;
}

.inactive {
	display: none !important;
  }